@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    padding: 18px 300px 100px 300px;
}

.top-line {
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.bottom-line {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 100px;
}

.headline {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding-bottom: 12px;
}

.text {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 12px;
}

.image {
    background-color: grey;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;  
    text-align: center;
    padding: 100px 200px;
    
}

.information {
    padding: 48px;
    
}
.subheadline {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 24px;
    text-align: center;
}

.illustrations {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 0px 200px;
}

.box {
    border-color: #3882f6;
    border-style: solid;
    border-width: 6px;
    border-radius: 24px;
    margin-bottom: 24px;
    width: 200px;
    height: 200px;
    
}
.description {
    font-size: 18px;
    color: #1f2937;
    max-width: 200px;
}

.quotes {
    background-color: #e5e7eb;
    padding: 100px 400px;
}

.quote {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    color: #1f2937;
}

.author {
    font-size: 16px;
    font-weight: bold;
    color: #1f2937;
    text-align: right;
    padding: 18px;
}

.sign {
    background-color: #3882f6;
    font-size: 14px;
    color: #f9faf8;
    padding: 48px 100px;
    border-radius: 12px;
    border-color: #3882f6;
    margin: 100px 300px;
    display: flex;
    gap: 18px;
    justify-content: space-between;
}

.call {
    font-size: 18px;
    font-weight: 700;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 48px;
    text-align: center;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    flex-shrink: 0;
    border-radius: 12px;
    border-style: solid;
    border-color: #e5e7eb;
    padding: 12px;
}